*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;;
}

body{
  background: #e5e5e5;
  display: grid;
  justify-items: center;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h2{
  margin-top: 24px;
}

header{
  width: 95%;
  border-radius: 5px;
  
  background: #cf2b2b;
  color: white;

  padding: 10px;
  margin-top: 10px;

  box-shadow: 0 0 10px 0 #bbb;
}

main {
  display: contents;
}

.item {
  width: 95%;
  background: white;
  border-radius: 5px;

  padding: 10px;
  margin: 10px 0;

  box-shadow: 0 0 10px 0 #bbb;
}

.item img{
  width: 130px;
  float: right;
  border-radius: 5px;
}

.item span {
  font-weight: 700;
}

.item.selected {
  border: 2px solid #0b940b;
}

/* BOTÃO */
.button {
  background: #0b940b;
  text-align: center;
  border-radius: 24px;
  padding: 8px;
  margin: 24px 0;
  cursor: pointer;

  width: 240px;
}

.button a {
  text-decoration: none;
  color: white;
}


/* FOOTER */
footer {
  background: #cf2b2b;
  color: white;

  width: 100%;

  padding: 36px 24px;
  margin-top: 36px;
}